.container {
    img {
        width: 28em;
        margin-top: 4em;
    }
    .icons {
        font-size: 2em;
        vertical-align: bottom;
        color: darksalmon;
        letter-spacing: 4px;

        a{
            margin:0px 12px;
        }
    }

    .brline {
        height: 1px;
        background: linear-gradient(141deg, #48ded4 0%, #a026bf 51%, #e82c75 75%);
        width: 40%;
        margin: 1.4em auto;
    }
}
